:root {
  --original-side-length: 500px;
  --scale-ratio: 1;
  --displayed-side-length:
          calc(var(--original-side-length) * var(--scale-ratio));
}

@media screen and (max-width: 530px) {
  :root {
    --scale-ratio: 0.65;
  }
}

@media screen and (max-width: 350px) {
  :root {
    --scale-ratio: 0.4;
  }
}

header {
  margin-bottom:30px;
  padding-left:5px;
  padding-right:5px;
  border-bottom:medium solid #000000;
}

footer {
  margin-top:50px;
  padding-top:10px;
  padding-bottom:10px;
  border-top:thin solid #000000;
  text-align:center;
}

#square-wrapper {
  margin:0 auto;
  height:var(--displayed-side-length);
  width:var(--displayed-side-length);

  /* scale preview square */
  transform-origin:0 0;
  transform:scale(var(--scale-ratio));
}

#square {
  position:relative;
  width:var(--original-side-length);
  height:var(--original-side-length);
  background-color:#1A1AD4;
}

#band {
  position:absolute;
  margin:5px;
  width:50px;
  height:160px;
  background-color:#32D032;
}

#JPlabel {
  position:absolute;
  margin-top:33px;
  margin-left:71px;
  color:white;
  font-size:65px;
}

#ENlabel {
  position:absolute;
  margin-top:112px;
  margin-left:72px;
  color:white;
  font-size:36px;
}

#Preview {
  margin:30px auto;
}

#FormTables {
  display: flex;
  gap: 10px;
  margin: 0 auto;
  justify-content: center;
}

#FormTables table {
  display: block;
}

@media screen and (max-width: 530px) {
  #FormTables {
    flex-direction: column;
  }

  #FormTables table {
    margin: 0 auto;
  }
}

#Generate {
  margin:30px auto;
  text-align:center;
}

#Display {
  display: flex;
  align-items: center;
  justify-content: center;

  margin:30px auto;
  padding:5px;
  border:thick double #32a1ce;

  height:var(--displayed-side-length);
  width:var(--displayed-side-length);
}

#Display canvas {
  display: flex;
  margin:0 auto;
  transform:scale(var(--scale-ratio));
}

#DL {
  margin:30px auto;
  text-align:center;
}
